@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-red: #ED1C24;
    --color-red-rgb: 237, 28, 36;
    --color-grey: #767676;
    --color-grey-light: #F7F7F7;
    --color-grey-outline: #DEE2E6;
    --color-grey-border: #D1D1D1;
    --header-height: 90px;
}

@media (max-width: 1023px) {
    :root {
        --header-height: 60px;
    }
}

::selection {
    color: white;
    background: rgba(var(--color-red-rgb), 0.5);
}

.invert-selection ::selection {
    color: black;
    background: rgba(255,255,255, 0.5);
}

html {
    /* to offset sticky header */
    scroll-padding-top: calc(var(--header-height) - 1px);
}

.blog-template h2 {
    @apply text-3xl font-bold mb-8 mt-12 text-black relative font-heading;
}

.blog-template h2:after {
    content: "";
    @apply border-b-2 border-b-red w-[60px] bottom-[-16px] left-0 absolute;

}

.blog-template p {
    @apply my-4 text-lg;
}

.blog-template ul {
    @apply my-4 text-lg;
}

.blog-template ul li {
    @apply list-disc my-4 ml-12;
}

.blog-template a {
    @apply text-red;
}

.blog-template a:hover {
    @apply underline;
}

.pull-quote {
    @apply float-right w-full md:w-1/2 text-[24px] font-heading font-medium text-black pl-0 md:pl-12 pb-8 [text-wrap:balance] uppercase;
}

blockquote {
    @apply m-0;
}

.boxed {
    position: relative;
    padding: 2rem;
    transition: background-color .5s;
    background: transparent;
}

.boxed:hover {
    opacity: 1;
}

.boxed:hover::before {
    opacity: 1;
    transform: scale(1);
}

.boxed::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transform: scale(0,1);
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

.boxed:hover::after {
    opacity: 1;
    transform: scale(1);
}

.boxed::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transform: scale(1,0);
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

.boxed-thickwhite {
    transition: background-color .5s;
}

.boxed-thickwhite:hover {
    background-color: #fff;
}

.boxed-thickwhite:hover::before {
    opacity: 1;
    transform: scale(1);
}

.boxed-thickwhite::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    transform: scale(0,1);
    border-top: 8px solid rgba(255,255,255, 0.3);
    border-bottom: 8px solid rgba(255,255,255, 0.3);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    pointer-events: none;
}

.boxed-thickwhite:hover::after {
    opacity: 1;
    transform: scale(1);
}

.boxed-thickwhite::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    transform: scale(1,0);
    border-right: 8px solid rgba(255,255,255, 0.3);
    border-left: 8px solid rgba(255,255,255, 0.3);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    pointer-events: none;
}

.bg-red-pattern {
    background-color: #ed1c24;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d51920' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-black-pattern {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23252529' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}